## Note

- Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [158]:
# Dependencies and Setup
import os
import pandas as pd

# File to Load 
file_path = os.path.join("Resources","purchase_data.csv")
file_path

'Resources\\purchase_data.csv'

In [159]:

# Read Purchasing File and store into Pandas data frame
df = pd.read_csv(file_path)
df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count
 
- Display the total number of players

In [160]:
df_groupedbySN = df.groupby(["SN"])
num_players = len(df_groupedbySN["SN"].count())
display_df = pd.DataFrame(["Total Players", num_players])
display_df

               0
0  Total Players
1            576

# Purchasing Analysis (Total) 
- Run basic calculations to obtain number of unique items, average price, etc.
- Create a summary data frame to hold the results
- Optional: give the displayed data cleaner formatting
- Display the summary data frame

In [161]:
df['Item Name'].value_counts()
num_unique_items = len(df['Item Name'].value_counts())
total_revenue = df['Price'].sum()
average_item_price = df['Price'].mean()
num_purchases = len(df['Item Name'])

summary_total = {"Number of Unique Items": [num_unique_items],
           "Average Price": [average_item_price],
           "Number of Purchases": [num_purchases],
           "Total Revenue": [total_revenue]
          }

summary_df=pd.DataFrame(summary_total)
summary_df["Total Revenue"] = summary_df["Total Revenue"].map("${:,.2f}".format)
summary_df["Average Price"] = summary_df["Average Price"].map("${:,.2f}".format)
summary_df

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780     $2,379.77

# Gender Demographics 
- Percentage and Count of Male Players
- Percentage and Count of Female Players
- Percentage and Count of Other / Non-Disclosed

In [162]:
df_names_genders = df[["SN","Gender"]]
df_names_genders = df_names_genders.drop_duplicates()
df_genders_display = df_names_genders["Gender"].value_counts()
df_genders_display = pd.DataFrame(df_genders_display)
df_genders_display.columns = ["Total Count"]
percentages = df_genders_display["Total Count"]/num_players*100
df_genders_display["Percentage of Players"] = percentages
df_genders_display["Percentage of Players"] = df_genders_display["Percentage of Players"].map("{:.2f}%".format)
df_genders_display

                       Total Count Percentage of Players
Male                           484                84.03%
Female                          81                14.06%
Other / Non-Disclosed           11                 1.91%

### Purchasing Analysis (Gender)
 
- Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender
- Create a summary data frame to hold the results
- Optional: give the displayed data cleaner formatting
- Display the summary data frame

In [163]:
df_groupedbygender_count = df.groupby(["Gender"]).count()
df_groupedbygender_mean = df.groupby(["Gender"]).mean()
df_groupedbygender_sum = df.groupby(["Gender"]).sum()
purchase_count = df_groupedbygender_count["Purchase ID"]
average_purchase_price = df_groupedbygender_mean["Price"]
total_purchase_value = df_groupedbygender_sum["Price"]

df_pur_analysis_gender = pd.DataFrame()
df_pur_analysis_gender["Purchase Count"] = purchase_count
df_pur_analysis_gender["Average Purchase Price"] = average_purchase_price
df_pur_analysis_gender["Total Purchase Value"] = total_purchase_value

avg_total_purchase_per_person = [df_pur_analysis_gender.loc["Female","Total Purchase Value"]/df_genders_display.loc["Female","Total Count"], df_pur_analysis_gender.loc["Male","Total Purchase Value"]/df_genders_display.loc["Male","Total Count"], df_pur_analysis_gender.loc["Other / Non-Disclosed","Total Purchase Value"]/df_genders_display.loc["Other / Non-Disclosed","Total Count"]]
df_pur_analysis_gender["Avg Total Purchase per Person"] = avg_total_purchase_per_person

df_pur_analysis_gender["Average Purchase Price"] = df_pur_analysis_gender["Average Purchase Price"].map("${:,.2f}".format)
df_pur_analysis_gender["Total Purchase Value"] = df_pur_analysis_gender["Total Purchase Value"].map("${:,.2f}".format)
df_pur_analysis_gender["Avg Total Purchase per Person"] = df_pur_analysis_gender["Avg Total Purchase per Person"].map("${:,.2f}".format)

df_pur_analysis_gender

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,"$1,967.64",$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

# Age Demographics
- Establish bins for ages (i.e. <10, 10-14, 15-19, etc.)
- Categorize the existing players using the age bins. Hint: use pd.cut()
- Calculate the numbers and percentages by age group
- Create a summary data frame to hold the results
- Optional: round the percentage column to two decimal points
- Display Age Demographics Table

In [195]:
age_bins = [0, 9, 14, 19, 24, 29, 34, 39, 120]
age_bin_labels = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39",">=40"]

df["Age Range"] = pd.cut(df["Age"], age_bins, labels=age_bin_labels)
df_age_demographics_players = df[["Age Range", "SN"]]
df_age_demographics_players = df_age_demographics_players.drop_duplicates()
df_age_demographics_players_groupedby_age_range = df_age_demographics_players.groupby("Age Range").count()

age_players_total_count = df_age_demographics_players_groupedby_age_range['SN']

age_demo_display = pd.DataFrame()
age_demo_display['Total Count'] = age_players_total_count
age_demo_percentage = age_demo_display['Total Count']/num_players * 100
age_demo_display['Percentage of Players'] = age_demo_percentage
age_demo_display['Percentage of Players'] = age_demo_display['Percentage of Players'].map("{:.2f}%".format)

age_demo_display

           Total Count Percentage of Players
Age Range
<10                 17                 2.95%
10-14               22                 3.82%
15-19              107                18.58%
20-24              258                44.79%
25-29               77                13.37%
30-34               52                 9.03%
35-39               31                 5.38%
>=40                12                 2.08%

# Purchasing Analysis (Age)
 
- Bin the purchase_data data frame by age
- Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below
- Create a summary data frame to hold the results
- Optional: give the displayed data cleaner formatting
- Display the summary data frame

In [205]:
df_age_price_sum = df.groupby(["Age Range"]).sum()
df_age_price_mean = df.groupby(["Age Range"]).mean()
df_age_price_count = df.groupby(["Age Range"]).count()

purchase_count_age = df_age_price_count["Purchase ID"]
average_purchase_price_age = df_age_price_mean["Price"]
total_purchase_value_age = df_age_price_sum["Price"]
purch_analysis_age_df = pd.DataFrame()
purch_analysis_age_df["Purchase Count"] = purchase_count_age
purch_analysis_age_df["Average Purchase Price"] = average_purchase_price_age
purch_analysis_age_df["Total Purchase Value"] = total_purchase_value_age

purch_analysis_age_df["Avg Total Purchase per Person"] = purch_analysis_age_df["Total Purchase Value"]/age_demo_display['Total Count']

purch_analysis_age_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Age Range,,,,
<10,23,3.353478,77.13,4.537059
10-14,28,2.956429,82.78,3.762727
15-19,136,3.035956,412.89,3.858785
20-24,365,3.052219,1114.06,4.318062
25-29,101,2.900990,293.00,3.805195
30-34,73,2.931507,214.00,4.115385
35-39,41,3.601707,147.67,4.763548
>=40,13,2.941538,38.24,3.186667

In [206]:
df

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Range
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,20-24
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,>=40
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20-24
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20-24
4,4,Iskosia90,23,Male,131,Fury,1.44,20-24
...,...,...,...,...,...,...,...,...
775,775,Aethedru70,21,Female,60,Wolf,3.54,20-24
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63,20-24
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46,20-24
778,778,Sisur91,7,Male,92,Final Critic,4.19,<10
779,779,Ennrian78,24,Male,50,Dawn,4.60,20-24

In [212]:
top_spenders = pd.DataFrame()
top_spenders["Purchase Count"]top_spenders["Total Purchase Value"] = df.groupby(['SN']).sum()["Price"]
df.groupby(['SN']).count()

               Purchase ID  Age  Gender  Item ID  Item Name  Price  Age Range
SN
Adairialis76             1    1       1        1          1      1          1
Adastirin33              1    1       1        1          1      1          1
Aeda94                   1    1       1        1          1      1          1
Aela59                   1    1       1        1          1      1          1
Aelaria33                1    1       1        1          1      1          1
...                    ...  ...     ...      ...        ...    ...        ...
Yathecal82               3    3       3        3          3      3          3
Yathedeu43               2    2       2        2          2      2          2
Yoishirrala98            1    1       1        1          1      1          1
Zhisrisu83               2    2       2        2          2      2          2
Zontibe81                3    3       3        3          3      3          3

[576 rows x 7 columns]