## Note

- Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [2]:
# Dependencies and Setup
import os
import pandas as pd

# File to Load 
file_path = os.path.join("Resources","purchase_data.csv")
file_path

'Resources\\purchase_data.csv'

In [52]:

# Read Purchasing File and store into Pandas data frame
df = pd.read_csv(file_path)
df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count
 
- Display the total number of players

In [27]:
df_groupedbySN = df.groupby(["SN"])
num_players = len(df_groupedbySN["SN"].count())
display_df = pd.DataFrame(["Total Players", num_players])
display_df

               0
0  Total Players
1            576

# Purchasing Analysis (Total) 
- Run basic calculations to obtain number of unique items, average price, etc.
- Create a summary data frame to hold the results
- Optional: give the displayed data cleaner formatting
- Display the summary data frame

In [83]:
df['Item Name'].value_counts()
num_unique_items = len(df['Item Name'].value_counts())
total_revenue = df['Price'].sum()
average_item_price = df['Price'].mean()
num_purchases = len(df['Item Name'])

summary_total = {"Number of Unique Items": [num_unique_items],
           "Average Price": [average_item_price],
           "Number of Purchases": [num_purchases],
           "Total Revenue": [total_revenue]
          }

summary_df=pd.DataFrame(summary_total)
summary_df["Total Revenue"] = summary_df["Total Revenue"].map("${:,.2f}".format)
summary_df["Average Price"] = summary_df["Average Price"].map("${:,.2f}".format)
summary_df

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780     $2,379.77

# Gender Demographics 
- Percentage and Count of Male Players
- Percentage and Count of Female Players
- Percentage and Count of Other / Non-Disclosed

In [114]:
df_names_genders = df[["SN","Gender"]]
df_names_genders = df_names_genders.drop_duplicates()
df_genders_display = df_names_genders["Gender"].value_counts()
df_genders_display = pd.DataFrame(df_genders_display)
df_genders_display.columns = ["Total Count"]
percentages = df_genders_display["Total Count"]/num_players*100
df_genders_display["Percentage of Players"] = percentages
df_genders_display["Percentage of Players"] = df_genders_display["Percentage of Players"].map("{:.2f}%".format)
df_genders_display

                       Total Count Percentage of Players
Male                           484                84.03%
Female                          81                14.06%
Other / Non-Disclosed           11                 1.91%

### Purchasing Analysis (Gender)
 
- Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender
- Create a summary data frame to hold the results
- Optional: give the displayed data cleaner formatting
- Display the summary data frame

In [138]:
df_groupedbygender_count = df.groupby(["Gender"]).count()
df_groupedbygender_mean = df.groupby(["Gender"]).mean()
df_groupedbygender_sum = df.groupby(["Gender"]).sum()
purchase_count = df_groupedbygender_count["Purchase ID"]
average_purchase_price = df_groupedbygender_mean["Price"]
total_purchase_value = df_groupedbygender_sum["Price"]

df_pur_analysis_gender = pd.DataFrame()
df_pur_analysis_gender["Purchase Count"] = purchase_count
df_pur_analysis_gender["Average Purchase Price"] = average_purchase_price
df_pur_analysis_gender["Total Purchase Value"] = total_purchase_value
avg_total_purchase_per_person = [df_pur_analysis_gender.loc["Female","Total Purchase Value"]/df_genders_display.loc["Female","Total Count"]]

,Purchase Count,Average Purchase Price,Total Purchase Value
Gender,,,
Female,113,3.203009,361.94
Male,652,3.017853,1967.64
Other / Non-Disclosed,15,3.346000,50.19

                       Purchase ID   SN  Age  Item ID  Item Name  Price
Gender
Female                         113  113  113      113        113    113
Male                           652  652  652      652        652    652
Other / Non-Disclosed           15   15   15       15         15     15