## Note

- Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [2]:
# Dependencies and Setup
import os
import pandas as pd

# File to Load (Remember to Change These)
file_path = os.path.join("Resources","purchase_data.csv")
file_path

'Resources\\purchase_data.csv'

In [35]:

# Read Purchasing File and store into Pandas data frame
df = pd.read_csv(file_path)
df.shape

(780, 7)

## Player Count
 
- Display the total number of players

In [27]:
df_groupedbySN = df.groupby(["SN"])
num_players = len(df_groupedbySN["SN"].count())
display_df = pd.DataFrame(["Total Players", num_players])
display_df

               0
0  Total Players
1            576

# Purchasing Analysis (Total) 
- Run basic calculations to obtain number of unique items, average price, etc.
- Create a summary data frame to hold the results
- Optional: give the displayed data cleaner formatting
- Display the summary data frame

In [49]:
df['Item Name'].value_counts()
num_unique_items = len(df['Item Name'].value_counts())
total_revenue = df['Price'].sum()
average_item_price = df['Price'].mean()
num_purchases = len(df['Item Name'])

summary = {"Number of Unique Items": [num_unique_items],
           "Average Price": [average_item_price],
           "Number of Purchases": [num_purchases],
           "Total Revenue": [total_revenue]
          }

summary_df=pd.DataFrame(summary)
summary_df["Total Revenue"] = summary_df["Total Revenue"].map("${:,.2f}".format)
summary_df["Average Price"]
summary_df

   Number of Unique Items  Average Price  Number of Purchases Total Revenue
0                     179       3.050987                  780     $2,379.77